<div id="user-subscribe-container">
  <p>
    <strong><%= Spree.t(:subscribe_to_newsletter_list) %></strong>
    <% Spree::Store.all.each do |store| %>
      <% if store.extra_settings[:mailchimp_list] && !store.extra_settings[:mailchimp_list].blank? %>
        <div class="checkbox">
          <%= label_tag do %>
            <%= check_box_tag("user[mailchimp_lists][]", store.id, @subscribed_lists.include?(store.extra_settings[:mailchimp_list])) %>
            <%= store.extra_settings[:mailchimp_list] %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </p>
</div>
