/*
 *= require spree/backend
*/
#chimpy-subscribed-list-container {
  display: none;
}
#user-subscribe-container label {
  margin-right: 10px;
  width: 96%;
}

#user-subscribe-container input {
  margin-right: 5px;
}